@font-face {
    font-family: 'Fredoka';
    src: url('../fonts/Fredoka/static/Fredoka-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: 'normal'
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/Bebas/Bebas-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: 'normal'
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Neue.ttf') format('truetype');
    font-weight: 400;
    font-style: 'normal'
}

body p {
    font-family: 'Quicksand', 'sans';
}
h1 {
    font-family: 'Bebas', 'sans';
}
